* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222222;
}

.content {
    background-color: white;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #7159c1;
    width: 40%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.first-content {
    display: flex;
}

.first-colunn {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.tittle {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.tittle-second {
    color: #7159c1;
}

.description {
    font-size: 14px;
    color: white;
    line-height: 22px;
}

.description-black {
    color: #282828;
}

.list-sm {
    display: flex;
    list-style-type: none;
}

.item-sm {
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.item-sm a {
    color: #7159c1;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    height: 45px;
    border: none;
    background-color: #f6f6f6;
    margin-top: 10px;
    border-radius: 2px;
}

.btn {
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #7159c1;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0px 0px;
    padding: 14px 60px;
    border: none;
    align-self: center;
}

.btn:hover {
    background-color: #282828;
}

.btn-primary {
    background-color: white;
    color: #7159c1;
}

.btn-primary:hover {
    background-color: #282828;
    color: white;
}

.second-content {
    position: absolute;
    display: none;
}

.second-colunn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 0 auto;
}
