* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e20;
}

.content {
    background-color: #282828;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #7159c1;
    width: 40%;
    height: 100%;
}

.first-content {
    display: flex;
}

.first-colunn {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.tittle {
    font-size: 28px;
    font-weight: 700;
}

.tittle-second {
    color: #7159c1;
}

.description {
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 30px;
}

.list-social-media {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.second-content {
    position: absolute;
    display: none;
}

.second-colunn {
    flex: 2 0 auto;
}
